extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/splash.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
  meta(property="og:url" content="https://remember-the-crud.herokuapp.com/")
  meta(property="og:type" content="website")
  meta(property="og:title" content="Remember the CRUD")
  meta(property="og:description" content="Web-based task and time-management")
  meta(property="og:image" content="https://res.cloudinary.com/dis83syog/image/upload/v1638468881/Remember%20the%20CRUD/Screen_Shot_2021-12-02_at_1.12.10_PM_uofbof.png")
     

block content
  h1= title
  p Welcome to your Project Skeleton


  
