doctype html
html
  head
      block head
        title= `${title}`
        link(rel='stylesheet' href="/stylesheets/index.css")
        script(type='text/javascript' src='/javascripts/login-signup.js')
      block content
