doctype html
html
  head
      block head
        title= `${title}`
        link(rel='stylesheet' href="/stylesheets/index.css")
        link(rel='stylesheet' href="/stylesheets/tasks.css")
  body
    block content
