doctype html
html
  head
      block head
        title= `${title}`
        link(rel='stylesheet' href="/stylesheets/index.css")
        script(type='text/javascript' src='/javascripts/login-signup.js')
        meta(property="og:url" content="https://remember-the-crud.herokuapp.com/")
        meta(property="og:type" content="website")
        meta(property="og:title" content="Remember the CRUD")
        meta(property="og:description" content="Web-based task and time-management")
        meta(property="og:image" content="https://imgur.com/a/jChH4kq")
      block content
