extends layout.pug
block content
    //- +validationErrorSummary(errors)
    form(action="/signup" method="POST")
        input(type="hidden" name="_csrf" value=csrfToken)
        label(for="firstName")
        input(type="text" name="firstName")
        label(for="lastName")
        input(type="text" name="lastName")
        label(for="email")
        input(type="text" name="email")
        label(for="username")
        input(type="text" name="username")
        label(for="password")
        input(type="password" name="password")
        button Sign up!