extends layout.pug

include utils.pug

block content
    body
            div.left
                .quotebox
                    div#quote Having trouble planning and executing projects?
                    div#author Join and get more organized and productive!
    body
        div.right
            div#signupButton
                img#logo-signup(src="/images/logo-trans-final.png")
                button#loginFromSignUp: a#loginFromSignUpLink(href="/users/login") Log in
            div.form
                div#formBox
                    +validationErrorSummary(errors)
                    form(action="/users/signup" method="POST")
                        input(type="hidden" name="_csrf" value=csrfToken)
                        label(for="firstName")
                        input(type="text" placeholder="First Name" name="firstName").formField
                        label(for="lastName")
                        input(type="text" placeholder="Last Name" name="lastName").formField
                        label(for="email")
                        input(type="text" placeholder="Email" name="email").formField
                        label(for="password")
                        input(type="password" placeholder="Password" name="password").formField
                        button.formField#loginButton Sign up!
