doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet' href="/stylesheets/tasks.css")
  body
    div#navbartasks
    div#largestboxtasks
        div#sidebartasks
        div#mainboxtasks
            div#tasks-view
            div#tasks-summary

