h1 {
  color: #555555;
}

html {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0cm;
  height: 100%;
  width: 100%;
  display: flex;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0060bf;
  width: 50%;
  height: 100%;
  color: aliceblue;
}

.quotebox {
  margin-left: 10%;
  margin-right: 10%;
}

#quote {
  font-size: 18pt;
  color: rgb(226, 225, 225);
}

#author {
  margin-top: 10px;
  font-size: 12pt;
  color: rgb(212, 211, 211, 0.8);
}

.right {
  background-color: white;
  width: 50%;
  height: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-right: 15%;
  margin-left: 15%;
  height: 80%;
}

#signupButton {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#formBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  width: 100%;
}

.formField {
  font-size: 16pt;
  margin: 8px;
  padding-left: 12px;
  width: 100%;
  height: 35%;
  border:2px solid grey;
  border-radius: 5px;
}

#stayLogged {
  width: 15px;
  height: 15px;
}

#stayLoggedText {
  font-size: 13pt;
  color: rgb(112, 112, 112);
}

p {
  text-align: left;
  margin: 8px;
  font-size: 14pt;
}
#mainDivLogin{
  display:flex;
  height: 100%;
  width: 100%;
}
#loginButton {
  background-color: #009dff;
  color: white;
  width: 103.5%;
  height: 35%;
  border:none;
  border-radius: 5px;
}
#reminderDiv{
  display:flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
#loginSpan > a{
  text-decoration: none;
  font-size: 14pt;
  color:#009dff
}

/* sign up page specific styling below */
#logo-signup {
  height: 3cm;
  width: 6cm;
}

#signupButton {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 20px;
}

#loginFromSignUp {
  height: 50%;
  width: fit-content;
  font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12pt;
  background-color: #0060bf1a;
  color: #00000080;
  border: 1px solid transparent;
  border-color: transparent;
  border-radius: 3px;
  padding: 4px;
  margin: 0px;
  /* border: none; */
}

#loginFromSignUpLink {
  text-decoration: none;
}

/*sign up page specific styling above  */
#splashfooter{
  /* position:absolute;
  bottom: 0; */
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  height:1.5cm;
  width:100%;
  background-color:#d7e7f5;
}
#aboutdiv{
  display:flex;
  justify-content:space-between;
  width:50%;
  height:100%;
}
#copyrightdiv{
  width:50%;
  height:100%;
}
.credentialdivs{
  font-family: "Yaldevi";
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  width:50%;
  height:100%;

}


.githublogo{
  margin-left:10px;
  width:30px;
  height:30px;
}
.linkedinlogo{
  width:30px;
  height:30px;
}
.splashname{
  font-size: 13pt;
}
