html {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #e4eef8;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#largestboxtasks {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  /* border: 6px solid black; */
  padding: 0px;
  margin: 0px;
  background-color: #d7e7f5;
}

#navbartasks {
  width: 100%;
  height: 1cm;
  /* border: 3px solid blue; */
  background-color: #0060bf;
}

#hamburger{
  padding-left: 6px;
}

#sidebartasks--open {
  height: 100%;
  width: 4cm;
  padding: 6px;
  transition: ease-in-out 300ms;
  /* border: 6px solid white; */
}

#sidebartasks--closed {
  height: 0;
  width: 0;
  padding: 0;
  transition: ease-in-out 300ms;
  /* border: 6px solid white; */
}

#logo {
  transform:translateX(-25px);
  height: 8%;
  width: 135%;
  overflow: hidden;
}
#tasksorts {
  display: flex;
  flex-direction: row;
  height: max-content;
  width: 100%;
  /* border: 6px solid black; */
}
#ddownarrow-tasks {
  margin-top: 2px;
  height: 12px;
  width: 12px;
  transition: ease-in-out 300ms;
}

.alltaskoptions-open {
  display: "";
  font-size: 10pt;
  width: 100%;
  height: fit-content;
  padding-left: 2px;

  /* border:2px solid black; */
}
#alltasks:hover,
#alltasks:focus,
.alltaskoptions-open:hover,
.alltaskoptions-open:focus {
  background-color: rgb(199, 199, 199);
  color: white;
  cursor: pointer;
}
#options1 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 0px;
  padding: 0px;
  border: 0px solid green;
}
#options1list{
  display:block;
  border-bottom: .5px solid rgb(151, 151, 151);
  margin-top: 0px;
  margin-left: 2px;
  padding: 0;
  list-style: none;
  width: 100%;
  transition: ease-in-out 300ms;
}

#alltasks {
  margin: 0px;
  padding-left: 2px;
  font-size: 10pt;
  width: 100%;
  height: fit-content;
}
#mainboxtasks {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  /* border: 6px solid purple; */
}



/*List Styling*/

#listsorts {
  display: flex;
  flex-direction: row;
  height: max-content;
  width: 100%;
  /* border: 6px solid black; */
}
#ddownarrow-lists {
  margin-top: 2px;
  height: 12px;
  width: 12px;
  transform: rotate(-90deg);
}

.alllistoptions-open {
  font-size: 10pt;
  width: 100%;
  height: fit-content;
  padding-left: 2px;

  /* border:2px solid black; */
}
#alllists:hover,
#alllists:focus,
.alllistoptions-open:hover,
.alllistoptions-open:focus {
  background-color: rgb(180, 180, 224);
  color: white;
  cursor: pointer;
}
#options2 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 0px;
  padding: 0px;
}
#options2list {
  display: none;
  margin-top: 0px;
  margin-left: 2px;
  padding: 0;
  list-style: none;
  width: 100%;
}
#alllists {
  margin: 0px;
  padding-left: 2px;
  font-size: 10pt;
  width: 100%;
  height: fit-content;
  border-top:1px solid rgb(177, 177, 177);
}
#mainboxtasks {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  /* border: 6px solid purple; */
}

#tasks-view {
  height: 100%;
  width: 50%;
  margin-top: 7px;
  /* border:6px solid red; */
  background: white;
  border-radius: 15px 0px 0px 0px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

#tasks-summary {
  height: 100%;
  width: 50%;
  /* border:6px solid green; */
  background-color: #e4eef8;
  margin-top: 7px;
  margin-right: 7px;
  border-radius: 0px 15px 0px 0px;
}

/*Tag Styling*/

#tagsorts {
  display: flex;
  flex-direction: row;
  height: max-content;
  width: 100%;
}
#ddownarrow-tags {
  margin-top: 2px;
  height: 12px;
  width: 12px;
  transform: rotate(-90deg);
}

.alltagoptions-open {
  display: "hidden";
  font-size: 10pt;
  width: 100%;
  height: fit-content;
  padding-left: 2px;
}

#alltags:hover,
#alltags:focus,
.alltagoptions-open:hover,
.alltagoptions-open:focus {
  background-color: rgb(180, 180, 224);
  color: white;
  cursor: pointer;
}
#options3 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 0px;
  padding: 0px;
}
#options3list {
  display: none;
  margin-top: 0px;
  margin-left: 2px;
  padding: 0;
  list-style: none;
  width: 100%;
}
#alltags {
  margin: 0px;
  padding-left: 2px;
  font-size: 10pt;
  width: 100%;
  height: fit-content;
  border-top:1px solid rgb(177, 177, 177);
}

/* languages styling  */

#languagesorts {
  display: flex;
  flex-direction: row;
  height: max-content;
  width: 100%;
  /* border: 6px solid black; */
}
#ddownarrow-languages {
  margin-top: 2px;
  height: 12px;
  width: 12px;
  transform: rotate(-90deg);
}

.alllanguageoptions-open {
  display: "";
  font-size: 10pt;
  width: 100%;
  height: fit-content;
  padding-left: 2px;

  /* border:2px solid black; */
}
#alllanguages:hover,
#alllanguages:focus,
.alllanguageoptions-open:hover,
.alllanguageoptions-open:focus {
  background-color: rgb(180, 180, 224);
  color: white;
  cursor: pointer;
}
#options4 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 0px;
  padding: 0px;
  border: 0px solid green;
}
#options4list {
  display: none;
  margin-top: 0px;
  margin-left: 2px;
  padding: 0;
  list-style: none;
  width: 100%;
}
#alllanguages {
  margin: 0px;
  padding-left: 2px;
  font-size: 10pt;
  width: 100%;
  height: fit-content;
  border-top:1px solid rgb(177, 177, 177);
}

#tasks-view {
  height: 100%;
  width: 50%;
  margin-top: 7px;
  /* border:6px solid red; */
  background: white;
  border-radius: 15px 0px 0px 0px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

#tasks-summary {
  height: 100%;
  width: 50%;
  /* border:6px solid green; */
  background-color: #e4eef8;
  margin-top: 7px;
  margin-right: 7px;
  border-radius: 0px 15px 0px 0px;
}

#mainboxtasks {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  /* border: 6px solid purple; */
}

#tasks-view {
  height: 100%;
  width: 50%;
  margin-top: 7px;
  /* border:6px solid red; */
  background: white;
  border-radius: 15px 0px 0px 0px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  background-image: url(../images/Task-list.png);
  background-repeat: repeat;
}

#tasks-summary {
  height: 100%;
  width: 50%;
  /* border:6px solid green; */
  background-color: #e4eef8;
  margin-top: 7px;
  margin-right: 7px;
  border-radius: 0px 15px 0px 0px;
}

 /* Tasks Styling*/



/* #form{
  grid-area: b;
  border: 1px solid tomato;
} */

#tasks-form {
  margin-top: 10px;
  display: grid;
  grid-template-rows:115px;
  grid-template-areas:
    "b b b"
    "c c c";
    border:1px solid tomato
}




#tasks-input {
  grid-area: b;
  /* justify-self: stretch;
  align-self: stretch; */
  place-self: center stretch;
  width:100%;
  height: 22px;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid black
}

.task-hidden {
  visibility: hidden;
}

#test-div {
 grid-area: c;
 justify-self: end;
  height: 15%;
  width: 100%;
  border: 1px solid tomato;
}

#tasks-container{
  height: 84.5%;
  width: 100%;
  border:1px solid tomato;
}

